#buttonContainer {
    margin: 40px;
    padding: 20px;
    text-align: center;
}
#contextContainer {
    margin: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#square {
    width : 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 30px;
}

#green {
    width: 150px;
    height: 40px;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 23px;
    border: none;
}

#orange {
    width: 150px;
    height: 40px;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 23px;
    border: none;
}

#purple {
    width: 150px;
    height: 40px;
    background-color: purple;
    color: white;
    font-weight: bold;
    font-size: 23px;
    border: none;
}