.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

span {
    margin: 10px;
}

input {
    border-radius: 10px;
    width: 300px;
    height: 30px;
}

button {
    color: white;
    background-color: blueviolet;
    border-radius: 10px;
    width: 50px;
    height: 30px;
}

#checkBtn {
    width: 200px;
}
p {
    font-size: 12px;
    color: red;
}

::placeholder {
    color: violet;
    font-weight: bold;
    text-align: center;

}